.o_list_view .o_data_row.text-danger {
    font-weight: bold;
}

.o_field_vn_money::placeholder {
    color: #aaa;
    font-style: italic;
}

.o_library_kanban .dashboard_card.total {
    background: #EAF4FF;
}

.o_library_kanban .dashboard_card.available {
    background: #E9F9EE;
}

.o_library_kanban .dashboard_card.borrowed,
.o_library_kanban .dashboard_card.borrowing {
    background: #FFF8DD;
}

.o_library_kanban .dashboard_card.out_of_stock {
    background: #FFEAEA;
}

.o_library_kanban .dashboard_card.overdue {
    background: #FFEAEA;
}

.o_library_kanban .dashboard_card.returned {
    background: #F5F5F5;
}

.o_field_password_toggle .o_input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.o_field_password_toggle .o_input-group-append .btn i {
    font-size: 14px;
}
